@model VerasetKararlari.Models.Entity.Tbl_Veraset

@{
    ViewBag.Title = "Karar Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" style="color:red">Veraset İlamı Kayıt Formu</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-horizontal" method="post">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <b><label>Karar No</label></b>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="Sicili" class="form-control" name="KARARNO" required="" autofocus="">
                            </div>

                            <div class="col-md-4">
                                <b><label>Davacı Adı Soyadı</label></b>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" class="form-control" name="DAVACI">
                            </div>

                            <div class="col-md-4">
                                <b><label>Vefat Eden Adı Soyadı</label></b>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" class="form-control" name="VEFATEDEN">
                            </div>

                            <div class="col-sm-12 d-flex justify-content-end">
                                <button class="btn btn-primary mr-1 mb-1">Kayıt</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
