@model VerasetKararlari.Models.Entity.Tbl_Veraset

@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Mahkeme", FormMethod.Post))
{
    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" style="color:red">Veraset İlamı Hatalı Kayıt Güncelleme Formu</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <b> <label>ID</label></b>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.TextBoxFor(m => m.ID, new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <div class="col-md-4">
                                    <b><label>Karar No</label></b>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.TextBoxFor(m => m.KARARNO, new { @class = "form-control", @autofocus = "" })
                                </div>

                                <div class="col-md-4">
                                    <b><label>Davacı Adı Soyadı</label></b>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.TextBoxFor(m => m.DAVACI, new { @class = "form-control" })
                                </div>

                                <div class="col-md-4">
                                    <b><label>Vefat Adı Soyadı</label></b>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.TextBoxFor(m => m.VEFATEDEN, new { @class = "form-control" })
                                </div>
                                
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button class="btn btn-primary mr-1 mb-1">Güncelle</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}